*{
    margin: 0px 0px;
    color:beige
} 

body{
    font-size: 14px;
}

.bodybg{
    background-color: #393939;
}

.main{
    border: none;
}

.container{
    display: flex;
    flex-direction: column;
    row-gap: 0.5cm; 
}

.menu-container{
    display: flex;
    flex-direction: row;
    column-gap: .5cm;  
    width: fit-content;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(43, 42, 42);    
}

.navigation1{
    display:flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items:center;
    padding: 0.2cm 0.5cm;
    margin-bottom: 0.5cm;
    box-shadow: 0px 0px 5px 0px rgba(101, 98, 98, 0.75);
   /* height: 20vh; !height noii leni, responsiveness m dikkat kregi!*/
}

.navigation2{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding: 0.2cm 0.5cm;
    margin-bottom: 0.5cm;
    box-shadow: 0px 0px 5px 0px rgba(101, 98, 98, 0.75);
   /* height: 20vh; !height noii leni, responsiveness m dikkat kregi!*/
}

.menu{
    display: flex;
    flex-direction: row;
    column-gap:2cm;

}

.menu-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    visibility:hidden;
}

@media only screen and (max-width: 750px) 
{
    .menu-icon{
        visibility:visible;
    }
    .menu-container{
        display: none;
    }
}

.logo-container{
    display: flex;
    flex-direction: row;
    column-gap:0.2cm;
    align-items:center;
}

.item{
    font-family: Roboto;
    font-weight: 500;
    
}

@keyframes coloring{
    from { color: black }
    to { color:#df1e1e}
  }
  
.item:hover{
    animation: coloring 0.5s steps(40, end);
    transform:scale(1.1);
    color: #df1e1e;
    cursor: pointer;
}
.btn{
    padding: 0.2cm 0.5cm;
    background-color: rgb(24, 104, 56);
    color:white;
    border-radius: 5px;
}

.btn:hover{
    background-color: rgb(8, 82, 38);
}

.intro{
    font-family: Quintessential;
    font-size: 14px;
    cursor: pointer;
    padding: 0.2cm;
}


.btn1{
    padding: 0.3cm 0.5cm;
    background-color: rgb(49, 130, 235);
    color:white;
    font-size: 20px;
    border-radius: 12px;
    border:none;
}

.btn1:hover{
    transform:scale(1.1);
    background-color: rgb(44, 98, 199);
}

