* {
    margin: 0px 0px;
    color: rgb(41, 41, 40)
}

body {
    font-size: 14px;
}

.main {
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5cm;
}

.menu-container {
    display: flex;
    flex-direction: row;
    column-gap: .5cm;
    width: fit-content;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(43, 42, 42);
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2cm 0.5cm;
    margin-bottom: 0.5cm;
    background-color: #a9ddce;
    box-shadow: 0px 0px 5px 0px rgba(101, 98, 98, 0.75);
    /* height: 20vh; !height noii leni, responsiveness m dikkat kregi!*/
}

.navigation1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2cm 0.5cm;
    margin-bottom: 0.5cm;
    box-shadow: 0px 0px 5px 0px rgba(101, 98, 98, 0.75);
    /* height: 20vh; !height noii leni, responsiveness m dikkat kregi!*/
}

.navigation2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2cm 0.5cm;
    margin-bottom: 0.5cm;
    box-shadow: 0px 0px 5px 0px rgba(101, 98, 98, 0.75);
    /* height: 20vh; !height noii leni, responsiveness m dikkat kregi!*/
}

.menu {
    display: flex;
    flex-direction: row;
    column-gap: 2cm;

}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    visibility: hidden;
}

@media only screen and (max-width: 750px) {
    .menu-icon {
        visibility: visible;
    }

    .menu-container {
        display: none;
    }
}

.logo-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.2cm;
    align-items: center;
}

.item {
    font-family: Roboto;
    font-weight: 500;

}

@keyframes coloring {
    from {
        color: black
    }

    to {
        color: #df1e1e
    }
}

.item:hover {
    animation: coloring 0.5s steps(40, end);
    transform: scale(1.1);
    color: #df1e1e;
    cursor: pointer;
}

.btn {
    padding: 0.2cm 0.5cm;
    background-color: rgb(48, 156, 62);
    color: white;
    border:none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(0, 143, 57);
}

.intro {
    font-family: Quintessential;
    font-size: 14px;
    cursor: pointer;
    padding: 0.2cm;
}


.btn1 {
    padding: 0.3cm 0.5cm;
    background-color: rgb(214, 106, 167);
    color: white;
    font-size: 20px;
    border-radius: 12px;
    border: none;
}

.btn1:hover {
    transform: scale(0.5cm) ;
    background-color: rgb(193, 81, 139);
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5cm;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    background-color: rgb(17, 128, 107);
    top:0;
    left:0;
    overflow: hidden;
}

.overlayItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5cm;
    cursor: pointer;
    color:black;
}

.cls-btn {
    width: 0.8cm;
    height: 0.8cm;
    cursor: pointer;
}

.items {
    font-family: Roboto;
    font-weight: 500;
    color: #eae4e4;

}

.items:hover{
    animation: coloring 0.5s steps(40, end);
    transform: scale(1.1);
    color: #df1e1e;
    cursor: pointer;
}